.header {
  position: relative;
  background-color: white;
  height: 80px;

  &__content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
  }
  &__title {
    display: inline-block;
    font-size: 18px;
    font-family: 'open-sans';
    text-decoration: none;
    color: inherit;
  }
  &__sign-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    width: 109px;
    background-color: white;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }
  &__sign-button--in {
    margin-left: auto;
    border: none;
  }
  &__sign-button--up {
    border: 1px solid #52c41a;
    margin-left: 10px;
    color: #52c41a;
    border-radius: 10px;
  }
  &__new-article {
    width: 112px;
    border: 1px solid #52c41a;
    color: #52c41a;
    height: 31px;
    font-size: 14px;
    border-radius: 10px;
    margin-right: 10px;
  }
  &__logout {
    border: 1px solid rgba($color: #000000, $alpha: 0.5);
    border-radius: 10px;
  }
  &__profile {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    width: 436px;
    &-info {
      display: flex;
      align-items: center;
      color: inherit;
      gap: 10px;
      text-decoration: none;
    }
  }
}
